@import url("https://fonts.googleapis.com/css2?family=Karla:wght@200;300;400;500;600;700;800&display=swap");

* {
  box-sizing: border-box;
}

body {
  font-family: "Karla", sans-serif;
  margin: 0;
}

header {
  width: 100vw;
  color: #fff;
  min-height: 100px;
  max-height: 16vh;
  display: flex;
  gap: 20px;
  align-items: center;
  justify-content: center;
  background: linear-gradient(90deg, #672280 1.18%, #a626d3);
  padding: 15px 20px;
}

main {
  padding: 36px;
}

.logo {
  background-color: white;
  border-radius: 50%;
  padding: 3px;
  max-height: 90px;
}

.header--text {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0;
}

.header--text h1 {
  height: auto;
  margin: 0;
  padding: 5px;
}

.header--text h4 {
  margin-top: 0;
  font-weight: 300;
}

.form {
  display: grid;
  grid-template: 40px 40px / 1fr 1fr;
  gap: 15px;
}

.form--input {
  font-family: "Karla", sans-serif;
  border-radius: 5px;
  border: 1px solid #d5d4d8;
  text-indent: 20px;
}

.form--button {
  grid-column: 1 / -1;
  font-family: "Karla", sans-serif;
  border-radius: 5px;
  background: linear-gradient(90deg, #672280 1.18%, #a626d3);
  color: #fff;
  border: none;
  cursor: pointer;
}
